<footer>
  <div class="container pb-3">
    <div class="row">
        <div class="col-md-12">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active"  data-toggle="tab" routerLink="/category-list" role="tab" aria-controls="nav-home" aria-selected="true">Categories</a>
                    <a class="nav-item nav-link"  data-toggle="tab" routerLink="/location-list"  role="tab" aria-controls="nav-profile" aria-selected="false">Locations</a>
                </div>
            </nav>
        </div>
    </div>
</div>
  <p  class="text-xs-center">© Copyright 2021. All rights reserved.</p>
</footer>
